<div class="pagina-individual">
  <div class="encabezado">
    <div>
      <h2><span class="material-icons">workspace_premium</span> Tipo de beca</h2>
      <p>Distribución de egresados según el tipo de beca que reciben</p>
    </div>
    <div class="campus-box">
      <span class="material-icons">location_on</span>
      <select [(ngModel)]="campusSeleccionado" (change)="cambiar()">
        <option *ngFor="let c of campus">{{ c }}</option>
      </select>
    </div>
  </div>
  <div class="grafica-grande"><canvas id="chart"></canvas></div>
</div>