:host {
  font-family: 'Roboto', sans-serif;
}
.perfil-container {
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.perfil-header h1 {
  font-size: 32px;
  margin: 0;
  color: #007D68;
}

.perfil-header p {
  color: #6b7280;
  margin-bottom: 40px;
}

/* CARD PRINCIPAL */
.perfil-card {
  display: flex;
  align-items: center;
  gap: 25px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  margin-bottom: 20px;
  color:#0e5247;
}

.perfil-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.perfil-info h2 {
  margin: 0;
  font-size: 24px;
  color: #0e5247;
}


.badge {
  display: inline-block;
  margin-top: 10px;
  background: #d1f0ea;
  color: #007D68;
  padding: 6px 14px;
  border-radius: 20px;
}

/* DETALLES */
.perfil-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}


.label {
  margin: 0;
  color: #6b7280;
  font-size: 14px;
}

.value {
  margin: 0;
  font-weight: 600;
}
.perfil-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.item {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon-circle {
  width: 54px;
  height: 54px;
  background: #e4f3f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon-circle .material-icons {
  font-size: 28px;
  color: #007D68;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.badge-icon {
  font-size: 20px;
}

