<div class="pagina-individual">
  <div class="encabezado">
    <div>
      <h2><span class="material-icons">menu_book</span> Egresados por carrera</h2>
      <p>Cantidad de egresados registrados por carrera</p>
    </div>
    <div class="acciones-descarga">
      <button type="button" class="btn-descargar-grafica" (click)="descargar()">
        <span class="material-icons">picture_as_pdf</span>
        Descargar
      </button>
      <div class="campus-box">
        <span class="material-icons">location_on</span>
        <select [(ngModel)]="campusSeleccionado" (change)="cambiar()">
          <option *ngFor="let c of campus">{{ c }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="grafica-grande">
    <canvas id="chart"></canvas>
  </div>
</div>